body {
    font-family: 'Segoe UI', sans-serif;
    background: #ffe6f0;
    margin: 0;
}

.container {
    background: #ffffff;
    padding: 30px;
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    border-radius: 20px;
}

/* MOSAICO */
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.card {
    background: #fff0f5;
    padding: 15px;
    border-radius: 15px;
}

/* Inputs */
input, select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ffc0cb;
}

/* Botones */
button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #ff66b2;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #ff3385;
}

/* Tabla */
table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th {
    background: #ff66b2;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}
